langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-text-splitters
python-dotenv
openai
faiss-cpu
sentence-transformers
chromadb
pypdf
pdf2image
streamlit
huggingface_hub
google-generativeai
validators
PyPDF2