streamlit
langchain==0.3.28
langchain-community==0.0.10
langchain-openai==0.0.5
langchain-groq==0.0.2
langchain-huggingface==0.0.4
langchain-text-splitters==0.0.1
langchain-chroma==0.0.5
faiss-cpu
sentence-transformers
chromadb
pypdf
pdf2image
PyPDF2
huggingface_hub
google-generativeai
validators
python-dotenv
openai